<% provide(:title, 'Show Employee') %>

<p id="notice"><%= notice %></p>

<h1>Employee Profile</h1>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
     
    <p>
      <strong>Name:&emsp;&emsp;&ensp;</strong>
      <%= @employee.firstname %>
    </p>
    
    <p>
      <strong>Surname:&emsp;</strong>
      <%= @employee.lastname %>
    </p>
    
    <p>
      <strong>Leave:&emsp;&emsp;&ensp;</strong>
      <%= @employee.leaveAllowance %>
    </p>
    
    <p>
      <strong>Title:&emsp;&emsp;&emsp;</strong>
      <%= @employee.jobType %>
    </p>
  </div>
</div>
<br>

<div class="media">
  <div class="media body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Request Type</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        
        <% @requests.each do |request| %>
        <tr>
          <td><%= request.description %></td>
          <td><%= request.startDate.strftime("%d-%m-%Y")  %></td>
          <td><%= request.endDate.strftime("%d-%m-%Y")  %></td>
          <td><%= request.status %></td>
        </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>

<%#= link_to 'Edit Employee', edit_employee_path(@employee), :class => 'btn btn-default'  %>
<%= link_to 'Back', employees_path, :class => 'btn btn-default'  %>
<%= link_to 'Add new Request', new_employee_request_path(@employee), class: 'btn btn-default' %>