<% provide(:title, 'Show Employee') %>

<p id="notice"><%= notice %></p>

<h1>Employee Profile</h1>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
     
    <p>
      <strong>Name:&emsp;&emsp;&ensp;</strong>
      <%= @employee.firstname %>
    </p>
    
    <p>
      <strong>Surname:&emsp;</strong>
      <%= @employee.lastname %>
    </p>
    
    <p>
      <strong>Leave:&emsp;&emsp;&ensp;</strong>
      <%= @employee.leaveAllowance %>
    </p>
    
    <p>
      <strong>Title:&emsp;&emsp;&emsp;</strong>
      <%= @employee.jobType %>
    </p>
  </div>
</div>
<br>
<%= link_to 'Edit', edit_employee_path(@employee), :class => 'btn btn-default'  %>
<%= link_to 'Back', employees_path, :class => 'btn btn-default'  %>