<% provide(:title, 'Show Employee') %>

<h1>Employee Profile</h1>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
     
    <p>
      <strong>Name:&emsp;&emsp;&ensp;</strong>
      <%= @employee.firstname %> <%= @employee.lastname %>
    </p>

    <p>
      <strong>Email:&emsp;&emsp;&ensp;</strong>
      <%= @employee.email %>
    </p>
    <p>
      <strong>Leave:&emsp;&emsp;&ensp;</strong>
      <%= @employee.leaveAllowance %>
    </p>
    
    <p>
      <strong>Title:&emsp;&emsp;&emsp;</strong>
      <%= @employee.jobType %>
    </p>
  </div>
</div>
<br>

<div class="media">
  <div class="media body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Request Type</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>request_id</th>
        </tr>
      </thead>
      <tbody>
        
        <% @requests.each do |request| %>
        <tr>
          <td><%= request.request_desc %></td>
          <td><%= request.startDate.strftime("%d-%m-%Y")  %></td>
          <td><%= request.endDate.strftime("%d-%m-%Y")  %></td>
          <td>
            <%#= request.status %>
            <% if request.status == 1 %>
              <%= 'Pending' %>
            <% elsif request.status == 2 %>
              <%= 'Approved' %>
            <% elsif request.status == 3 %>
              <%= 'Denied' %>
            <% end %>
          </td>
          <td><%= request.id %></td>
          <td><%#= link_to 'edit', request_path(@request) %></td>
          <td><%#= link_to 'edit', edit_employee_request_path(@employee, @request) %></td>
          <td><%= link_to 'Edit- broken', [:edit, @employee, request], :class => 'btn btn-default' %></td>
          <td><%= link_to 'Delete', [@employee, request], method: :delete, :class => 'btn btn-default', data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Back', employees_path, :class => 'btn btn-default'  %>
<%= link_to 'Add new Request', new_employee_request_path(@employee), class: 'btn btn-success' %>