<h1>Listing request_alls</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_alls.each do |request_all| %>
      <tr>
        <td><%= request_all.type %></td>
        <td><%= request_all.startDate %></td>
        <td><%= request_all.endDate %></td>
        <td><%= request_all.status %></td>
        <td><%= link_to 'Show', request_all %></td>
        <td><%= link_to 'Edit', edit_request_all_path(request_all) %></td>
        <td><%= link_to 'Destroy', request_all, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request all', new_request_all_path %>
