<% provide(:title, 'Request Listing') %>

<div class="col-md-6 pull-right">
    <%= form_tag(show_all_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-group col-md-7">
           <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "1=pending, 2=approved, 3=denied" %>
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
              </div>
          </div>
    <% end %>
  </div>
<h1>List of Requests</h1>
<br>

<div class="media">
  <div class="media-body">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Employee Id</th>
          <th>Request for</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Request Id</th>
        </tr>
      </thead>

      <tbody>
        <% @requests.each do |request| %>
        <tr>
          <td><%= request.employee_id %></td>
          <td><%= request.request_desc %></td>
          <td><%= request.startDate.strftime("%d-%m-%Y")  %></td>
          <td><%= request.endDate.strftime("%d-%m-%Y")  %></td>
          <td>
            <%#= request.status %>
            <% if request.status == 1 %>
              <%= 'Pending' %>
            <% elsif request.status == 2 %>
              <%= 'Approved' %>
            <% elsif request.status == 3 %>
              <%= 'Denied' %>
            <% end %>
          </td>
          <td><%= request.id %></td>
          <td>
        
          <%#= select(:status, options_for_select([['Pending', '1'],
                                  ['Approved', '2'],
                                  ['Denied', '3']]),
                                  :class => 'btn btn-default') %>
           
          <%#= form_tag(requests_path, :method => 'put') do %>
             <%= select_tag(:status, options_for_select([['Pending', '1'],
                                  ['Approved', '2'],
                                  ['Denied', '3']]),
                                  :class => 'btn btn-default') %>
             <%#= submit_tag 'Submit' %>
          <%# end %>              
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>
